 <div id="modal1" class="modal">
 <img class="brand-logo hide-on-med-and-down" src="/img/logo.png"><span id="logoText">ANTEREST</span>
<div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input ng-model="email" id="image_url" type="email" class="validate">
              <label for="image_url">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="password" id="image_title" type="password" class="validate">
              <label for="image_title">Password</label>
            </div>
          </div>   
            <a ng-click="logIn()" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
      			<a ng-click="register()" class=" modal-action modal-close waves-effect waves-red btn-flat">Register</a>  

        </form>
      </div>
    </div>
    <div class="modal-footer">
</div>
