<div ng-cloak>
	<div class="dynamic-grid" angular-grid="images" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true">
		<div class="show-image" ng-repeat="image in images">
			<a href=""><img  src="{{ image.url }}" class="grid-img ng-cloak"  data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}"></a>
			<button class="waves-effect waves-light btn modal-trigger" data-target="save-modal" ng-click="$parent.setIndex($index)">Save</button>
		</div>
	</div>
</div>

<!-- Modal Structure -->

<div id="save-modal" class="modal">
  <div class="modal-content">
    <img src="{{images[getIndex()].url}}">
    <h4 class="center-align">Available Boards</h4>
    <ul>
      <li ng-repeat="(board_id, board) in boards">
        <div class="board-link">
        <h6 class="left">{{board.title}}</h6>
        <button class="waves-effect btn right" ng-click="addPin(board_id, images[getIndex()].pin_id)">Save</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
