<div ng-cloak>
	<div class="dynamic-grid" angular-grid="images" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true">
		<div ng-enter class="show-image" ng-repeat="image in images" show-on-load>
			<a href=""><img src="{{ image.url }}" class="grid-img ng-cloak"  data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}"></a>
			<button ng-if="user" class="waves-effect waves-light btn modal-trigger" data-target="save-modal" ng-click="$parent.setIndex($index)">Save</button>
		</div>
	</div>
</div>

<!-- Modal Structure -->

<div id="save-modal" class="modal">
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col s8">
        <img src="{{images[getIndex()].url}}">
      </div>
      <div class="col s4">
        <h4 class="center-align">Available Boards</h4>
        <ul>
          <li ng-repeat="(board_id, board) in userBoards">
            <div class="board-link">
            <h6 class="left">{{board.title}}</h6>
            <button class="waves-effect btn right" ng-click="addPin(board_id, images[getIndex()].pin_id)">Save</button>
            </div>
          </li>
        </ul>
        </div>
      </div>
  </div>
</div>
