
<div class="container">
  <ul class="row board-card-wrapper">
    <li class="col s12 m6 l4" ng-click="openNewPinModal()">
      <a href="">
        <article class="board-card">
          <div class="pin-pallette new-board-pallette">
            <div class="circle pin-red new-board-circle">
              <img src="/img/add.png" class="add">
            </div>
          </div>
        </article>
        <p>Save Pin</p>
      </a>
    </li>
  </ul>
</div>



<div id="new-pin-modal" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Upload Pin From the Web</h4>
    <div class="input-field">
      <input id="pin-name" type="text" class="validate" placeholder="Pin Image Address" ng-model="pinName">
      <input id="new-pin-tag" type="text" class="validate" placeholder="Tag the Image" ng-model="tagName">
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    <a class="btn red modal-close modal-action" ng-click="addBoard(boardName)">Upload Pin</a>
  </div>

<div>
  <ul class="container row">
    <li><p>hello</p></li>
    <li><p>{{pinBoard}}</p></li>
    <!-- <li class="col s4">
      <article class="board-card">
        <p><a href="#">+ New Board</a></p>
      </article>
    </li> -->
    <!-- <li ng-repeat="pinedBoard in personalBoard" class="col s4">
      <article class="board-card">
        <p>{{pinedBoard.title}}</p>
      </article>
    </li>-->
  </ul>
  <ul>
    <li ng-repeat="pins in personalBoard">
      {{pins}}</li>
    </ul>

</div>
