/*****************************************
             Generic Styles
******************************************/

.pin-red {
    background-color: #bd081c;
}

.overflow-hidden {
    overflow: hidden;
}

.relative {
    position: relative;
}


/*********************
 ** Page Layout
 *********************/

nav form {
	width: 70% !important;
	margin-left: 10%;
	max-height: 90%;
}

nav .brand-logo img {
	max-height: 63px;
    display: inline;
    border-radius: 100%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.7);
}

nav li a {
    font-size: 20px;
    color: #ccc;
    text-shadow: 5px 5px 10px rgba(0,0,0,.7)
}

nav {
    font-family: 'Maven Pro', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

#logoText {
    font-size: 40px;
    margin-bottom: 20px;
}

/*****************************************
		Main Page and Search Layout
******************************************/

.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  border-radius: 10px;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms;
  -webkit-transition-delay: 100ms;
  transition-delay: 200ms;
  -webkit-transform: scale(0.5);
   transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}


.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.show-image {
    position: relative;
    float:left;
    margin:5px;
}

.show-image:hover img {
    opacity:0.7;
}

.show-image:hover .btn {
    display: block;
}

.show-image .btn {
    position:absolute;
    display:none;
    top:0;
    left:65%;
    background-color: maroon;
}

.modal .btn {
      background-color: maroon;
}

.maroon {
    background-color: maroon;
}

/*****************************************
              Boards Layout
******************************************/

.board-card-wrapper p {
    text-decoration: none;
    color: black;
}

.board-card {
    background-color: lightgreen;
}

.pin-pallette {
    border-radius: 10px;
    height: 200px;
    width: 301px;
}

.new-board-pallette {
    display: flex;
    background-color: #efefef;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.new-board-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.add {
    width: 30px;
    height: 30px;
    z-index: 3;
}

/*****************************************
              Modal Layout
******************************************/

.modal img {
	max-width: 80%;
    max-height: 500px;
}

.modal .board-link {
    width: 100%;
    height: 50px;
}


.modal button {
    display: none;
    top:0;
    right: 0%;
    background-color: maroon;
}

.board-link:hover {
    background-color: lightgray;
}

.board-link:hover button{
    display: block;
}


/***************************************
				Navbar
***************************************/

.sticky {
	position: fixed;
	left: 0;
	top: 0;
	margin-bottom: 25px;
	z-index: 999;
}

/*********************************
			MainView in Index.html
*********************************/
.mainview {
	margin-top: 70px;
}
