/*****************************************
             Generic Styles
******************************************/

.pin-red {
    background-color: #bd081c;
}




/*********************
 ** Page Layout
 *********************/

nav form {
	width: 80% !important;
	margin-left: 10%;
	max-height: 90%;
}

nav .brand-logo img {
	max-height: 63px;
}




/*****************************************
		Main Page and Search Layout
******************************************/

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.show-image {
    position: relative;
    float:left;
    margin:5px;
}

.show-image:hover img {
    opacity:0.8;
}

.show-image:hover .btn {
    display: block;
}

.show-image .btn {
    position:absolute;
    display:none;
     top:0;
    left:65%;
    background-color: maroon;
}

.maroon {
    background-color: maroon;
}






/*****************************************
              Boards Layout
******************************************/

.board-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board-card {
    border-radius: 5px;
    height: 200px;
    width: 301px;
}

.new-board {
    display: flex;
    background-color: #efefef;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.new-board-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.add {
    width: 30px;
    height: 30px;
    z-index: 3;
}
