/*********************
 ** Page Layout
 *********************/

nav form {
	width: 800px !important;
	margin-left: 75px;
}

nav .brand-logo img {
	max-height: 63px;
}

<<<<<<< HEAD

/*****************************************
    Main Page and Search Layout
=======
/*****************************************
		Main Page and Search Layout
>>>>>>> 750007d4c3027643cd27d946781ad5504f79d71f
******************************************/

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
<<<<<<< HEAD

=======
 
>>>>>>> 750007d4c3027643cd27d946781ad5504f79d71f
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.show-image {
    position: relative;
    float:left;
    margin:5px;
}

.show-image:hover img {
    opacity:0.8;
}

.show-image:hover .btn {
    display: block;
}

.show-image .btn {
    position:absolute;
    display:none;
     top:0;
    left:65%;
    background-color: maroon;
}
